@model AWC_HRMS.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
}
@Html.Hidden("hfDeleteDocument", Url.Action("ForgotPassword", "UserLogin"))
<h1>Forgot Password</h1>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<hr />
<div class="row">
    <div class="col-md-4">
      @*  <form asp-action="ForgotPassword">*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" id="txtUserName"/>
            <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" type="text" class="form-control" id="txtEmail" onkeyup="ValidateEmail();" />
                <br/>
                <span asp-validation-for="Email" class="text-danger" id="spanmess"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Get Mail" class="btn btn-primary" onclick="Validation();" />
            </div>
       @* </form>*@
    </div>
</div>

<div>
    <a asp-action="" asp-controller="UserLogin">Login</a>
</div>
<script type="text/javascript" src="~/Scripts/EmailRegularExpression.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script type="text/javascript">
    function Validation() {
        debugger
        var url = $("#hfDeleteDocument").val();
        var txtUserName = $("#txtUserName").val();
        var txtEmail = $("#txtEmail").val();
        if (txtUserName == "" || txtEmail == "") {
            alert("Please fill all Box");
        }
        model = {
            UserName: txtUserName,
            Email: txtEmail,
        }
        $.post(url, model, function (response, status) {
            debugger
            var mess = $("#spanmess");
            if (response.data == "EXIST") 
            {
                mess.html("Email has been Sent on your Email Id");
                mess.css("color", "green");
            }
            
            else if (response.data == "NOTEXIST") {
                mess.html("Email Id is not Available !");
                mess.css("color", "red");
            }
        });
    }


   
    
</script>

