@model AWC_HRMS.Models.ResetPasswordModel

@{
    ViewData["Title"] = "ResetPassword";
}

<h1>Reset Password</h1>

<hr />
<div class="row">

    <div class="col-md-4">
        <form asp-action="ResetPassword" >
            
            @*<div class="form-group">
                <label asp-for="Email"  class="control-label"></label>
                <input asp-for="Email" class="form-control" id="txtEmail"/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>*@
            
            <div class="form-group">
                <input asp-for="Email" hidden="hidden" value="@TempData[ "id"]" class="form-control" type="text"  />
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" id="txtPassword" />

                @*<span asp-validation-for="Password" class="text-danger"></span>*@
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input data-val="true" class="form-control" data-val-equalto="Password and Confirmation Password must match." data-val-equalto-other="*.Password" data-val-required="Required." id="txtConfirmPassword" name="ConfirmPassword" type="password" />
                @*<span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" onclick="Validation(event)" />
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
   
    function Validation(e) {
        var txtEmail = $("#txtEmail").val();
        var txtPassword = $("#txtPassword").val();
        var txtConfirmPassword = $("#txtConfirmPassword").val();
        if (txtEmail == "" || txtPassword == "" || txtConfirmPassword == "") {
            alert("Please fill all Box");
        }
        else if (txtPassword != txtConfirmPassword) {
            alert("Passwords do not match");

        }
        else {
            alert("Password has been reset successfully !!!");
        }
    }
</script>


