@model AWC_HRMS.Models.CandidateMaster


@{
    ViewData["Title"] = "CandidateRegisterationDetail";
     ViewData["btn"] = "Save";
}


Respose.write "Bretval0: " + @ViewBag.myst

<div class="row">
    <div class="col-md-3 col-sm-12 Font_Color2" >

            ON Boarding Form

        </div>

        <div class="col-md-4 col-sm-12 Font_Color1">

            Personal Details

        </div>




    <div class="col-md-5 col-sm-12 table-borderless" style="background-color:#08708d;font-family:Gill Sans, sans-serif; color:white">
        
        <form asp-action="CandidateRegisterationDetail" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger Font_Color"></div>
            @*<div class="form-group">
                 <div class="space"> </div>
                <label asp-for="CandidateId" class="control-label"></label>
                <input asp-for="CandidateId" class="form-control" required />
                <span asp-validation-for="CandidateId" class="text-danger"></span>
            </div>*@

            <input asp-for="CandidateId" type="hidden" value="@ViewBag.myst" />

            <div class="form-group">
                 <div class="space"> </div>
                <label asp-for="CandidateName" class="control-label"></label>
                <input asp-for="CandidateName" class="form-control" required />
                <span asp-validation-for="CandidateName" class="text-danger"></span>
            </div>
           
           
            <div class="form-group">
                <div class="space"> </div>
                <label asp-for="Gender" class="control-label"></label>
               &nbsp;&nbsp;
                <input type="radio"  asp-for="Gender" value="Male" required /> Male &nbsp;&nbsp;&nbsp;
                <input type="radio"  asp-for="Gender" value="Female" required /> Female &nbsp;&nbsp;&nbsp;
                <input type="radio"  asp-for="Gender" value="Other" required /> Other &nbsp;&nbsp;&nbsp;
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                 <div class="space"> </div>
                <label asp-for="MaritalStatus" class="control-label"></label>

                 <input type="radio"  asp-for="MaritalStatus" value="Married" required/> Married     &nbsp;&nbsp;&nbsp;
                <input type="radio"  asp-for="MaritalStatus" value="Unmarried" required/> Unmarried  &nbsp;&nbsp;&nbsp;
                
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
           
          
            
            <div class="form-group">
                 <div class="space"> </div>
                <label asp-for="Dob" class="control-label"></label>
                <input type="date" asp-for="Dob" required class="form-control" />
                <span asp-validation-for="Dob" class="text-danger"></span>
            </div>

             <div class="form-group">
                  <div class="space"> </div>
                <label asp-for="CandidateContactNumber" class="control-label"></label>
                <input asp-for="CandidateContactNumber" required class="form-control" />
                <span asp-validation-for="CandidateContactNumber" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                 <div class="space"> </div>
                <label asp-for="FatherName" class="control-label"></label>
                <input asp-for="FatherName" required class="form-control" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>

             <div class="form-group">
                  <div class="space"> </div>
                <label asp-for="CandidateEmailId" class="control-label"></label>
                <input type="email" asp-for="CandidateEmailId" required class="form-control" />
                <span asp-validation-for="CandidateEmailId" class="text-danger"></span>
            </div>
            
           
            <div class="form-group">
                 <div class="space"> </div>
                <label asp-for="CandidateImage" class="control-label"></label>
                <input type="file" name="file" required asp-for="CandidateImage" class="form-control" />
                <span asp-validation-for="CandidateImage" class="text-danger"></span>
            </div>

                        
            <div class="form-group">
                <div class="space"> </div>
                <input type="submit" value="@ViewData["btn"]" class="btn button_color" />
                
                <input type="button" value="Next" onclick="Response.redirect('CandidateRegisterationDetailNext/')" class="btn button_color1" />
                @Html.ActionLink("Next", "CandidateRegisterationDetailNext", new { canid=ViewBag.myst })
            </div>
            </br>
        </form>
    </div>
</div>



